.footer {
  height: 128px;
  color: white;
  background-color: #333335;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-links {
    display: flex;
    flex-direction: row;
  }

  img {
    margin: 0 8px;
    width: 32px;
    height: 32px;
  }

  span {
    color: grey;
  }
}