@import "../variables";

.footer {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    .footer-links {
      display: none  !important;
    }
  }

  .footer-links {
    display: flex;
    flex-direction: row;
  }

  .footer-name {
    margin-top: 16px;
  }

  img {
    margin: 0 8px;
    width: 32px;
    height: 32px;
  }

  p {
    margin: 0;
  }

  span {
    color: $secondary-font-color;
  }
}
