@import "../variables";

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  max-width: $section-width;
  margin: 0 auto;

  a {
    color: $font-color;
  }
}

.projects__item {
  display: flex;
  padding: 1rem;
  width: 100%;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.projects-detail {
  @extend %primary-surface;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  padding: 1rem;
}

.projects-detail__title {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.projects-detail__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $secondary-font-color;
}

.projects-detail__github {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;

  .projects-detail__github-left {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;

    .projects-detail__github-language {
      font-style: italic;
      font-size: .9rem;
      align-self: center;

      .projects-detail__github-language-dot {
        line-height: 1rem;
        display: inline-block;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
    }

    .projects-detail__github-info {
      margin-right: 1rem;

      :first-child {
        margin-right: 3px;
      }

    }
  }

  .projects-detail__github-right {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    margin-left: auto;

    a {
      margin-right: 8px;

      * {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.projects__loading {
  width: 100%;
  margin-top: 32px;
}
