@import "../variables";

@media screen and (max-width: $tablet-width) {
  .sidebars {
    display: none;
  }
}

.sidebars {
  .sidebars-left {
    left: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 30%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      width: 50px;
      height: 50px;

      svg {
        margin: 8px 0;
        width: 32px;
        height: 32px;
      }

      img {
        margin: 8px 0;
        width: 32px;
        height: 32px;
      }

      :hover {
        svg {
          width: 36px;
          height: 36px;
          path {
            fill: $link-color;
          }
        }
      }
    }
  }

  .sidebars-right {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 30%;
    right: 30px;

    a {
      writing-mode: vertical-lr;
      font-style: italic;
      text-decoration: none;
      color: $font-color;
    }

    :hover {
      color: $link-color;
    }
  }
}
