@import "components/Navbar";
@import "components/SpaceNeedleAnimation";
@import "components/Footer";
@import "components/GithubProjectDetail";
@import "variables";

.App {
  margin: 0;
  font-family: sans-serif;

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    h1 {
      font-size: 5em;
      margin: 0;
    }

    h2 {
      margin: 0 32px 15px 32px;
    }
  }

  main {
    padding: 0 5px 64px 5px;
  }

  @media screen and (min-width: 992px) {
    main {
      padding: 0 64px 64px 64px;
    }
  }

  .work {
    min-height: 90vh;

    .work-company-role-duration {
      font-style: italic;
    }
  }

  .about {
    min-height: 90vh;

    .about-content {
      display: flex;
      flex-direction: row;

      img {
        margin-left: 32px;
        width: 15em;
        height: 15em;
      }

      @media screen and (max-width: 992px) {
        img {
          display: none;
        }
      }
    }
  }


}

