@import "base";
@import "components/Navbar";
@import "components/SpaceNeedleAnimation";
@import "components/Footer";

.App {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;


  .background {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);

    .hero {
      width: 100vw;
      height: 100vh;
      display: flex;

      justify-content: center;
      align-items: flex-start;
      text-align: center;

      color: white;
      background-image: url('/seattle-bnw.png');
      background-position-x: center;
      background-position-y: bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;

      .header {
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        align-items: center;
        margin-bottom: 0;

        img {
          width: 5em;
          height: 5em;
        }

        h1 {
          font-size: 5em;
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 992px) {
      .hero {
        background-attachment: scroll;

        .header img {
          width: 5em;
          height: 5em;
          display: none;
        }
      }
    }
    @media screen and (min-width: 992px) {
      .hero {
        background-size: 100%;

      }
    }
  }

  main {
    padding: 0 5px 64px 5px;
  }

  @media screen and (min-width: 992px) {
    main {
      padding: 0 64px 64px 64px;
    }
  }

  .work {
    .work-company-role-duration {
      font-style: italic;
    }
  }

  .about {
    display: flex;
    flex-direction: row;

    img {
      width: 15em;
    }
  }


}

