@import "components/Navbar";
@import "components/SpaceNeedleAnimation";
@import "components/Footer";
@import "components/GithubProjectDetail";
@import "variables";

.App {
  margin: 0;
  font-family: sans-serif;

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    h1 {
      font-size: 5em;
      margin: 0;
    }

    h2 {
      margin: 0 32px 15px 32px;
    }
  }

  main {
    padding: 0 32px 64px 32px;
  }

  @media screen and (min-width: 992px) {
    main {
      padding: 0 64px 64px 64px;
    }
  }

  .work {
    min-height: 90vh;

    .work-company-role-duration {
      font-style: italic;
    }
  }

  .about {
    min-height: 90vh;

    .about-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      div {
        max-width: 450px;
      }

      img {
        margin-left: 32px;
        width: 33%;
        height: auto;
      }

      @media screen and (max-width: 992px) {
        img {
          margin: 32px 0 0 0;
          width: 80vw;
          height: 80vw;
        }
      }
    }
  }

  .presentations {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .presentations__item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 100%;

      @media(min-width: 56rem) {
        width: 50%;
      }

      .presentations__item_video {
        width: 100%;
        min-height: 300px;
      }

      p {
        min-height: 2rem;
      }
    }
  }
}

